.footer {
    --border: 2px solid rgba(255, 255, 255, .7);

    display: grid;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 50px;

    box-sizing: border-box;
    border: var(--border);
    border-bottom: none;
    border-right: none;
    border-left: none;
    text-align: center;
    font-family: "Schnaubelt";
    font-size: medium;

    grid-template-columns: 2fr 5fr;
    grid-template-rows: 2fr 1fr;
    grid-template-areas:
        'sidebar author'
        'sidebar sheet';

}

.footer-sidebar {
    grid-area: sidebar;
    display: flex;
    justify-content: center;
    align-items: center;

    border-right: var(--border);
}

.footer-author {
    grid-area: author;
    display: flex;
    justify-content: center;
    align-items: center;

    border-bottom: var(--border);
}

.footer-sheet {
    grid-area: sheet;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer>*>p {
    margin: 0px;

}

/* Desktop */
@media screen and (min-width: 480px) {
    .footer {
        width: 297px;
        border-left: var(--border);
    }
}
