@font-face {
    font-family: "Schnaubelt";
    src: url("../fonts/Schnaubelt.otf") format("opentype");
}

@font-face {
    font-family: "Schnaubelt";
    font-weight: bold;
    src: url("../fonts/Schnaubelt_Bold.otf") format("opentype");
}

p {
    color: rgba(255, 255, 255, .85);
    font-family: "Schnaubelt";
}

a {
    color: rgba(255, 255, 255, .85);
    font-family: "Schnaubelt";
}

h1 {
    color: rgba(255, 255, 255, .85);
    font-family: "Schnaubelt";
}


.blueprint-layout {
    overflow: auto;
    position: relative;
    box-sizing: border-box;
    border: 2px solid rgba(255, 255, 255, .7);
    min-height: 100vh;
    width: calc(100vh / 1.41);
    max-width: 100vi;
}

.content-layout {
    overflow: auto;
    position: relative;
    /* border: 1px solid red; */

    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
}

/* Desktop */
@media screen and (min-width: 480px) {
    .blueprint-layout {
        min-height: 98vh;
        min-width: 480px;
        margin-left: 1vw;
        margin-right: 1vw;
        margin-top: 1vw;
    }
}
