@font-face {
    font-family: "Schnaubelt";
    src: url("../fonts/Schnaubelt.otf") format("opentype");
}

@font-face {
    font-family: "Schnaubelt";
    font-weight: bold;
    src: url("../fonts/Schnaubelt_Bold.otf") format("opentype");
}

p {
    color: rgba(255, 255, 255, .85);
    font-family: "Schnaubelt";
}

a {
    color: rgba(255, 255, 255, .85);
    font-family: "Schnaubelt";
}

h1 {
    color: rgba(255, 255, 255, .85);
    font-family: "Schnaubelt";
}

.blueprint-layout {
    position: absolute;
    border: 3px solid white;
    width: 800px;
    height: 95vh;
    margin-top: 25px;
    margin-left: 525px;
}

.content-layout {
    position: absolute;
    /* border: 1px solid white; */
    width: 700px;
    margin-top: 25px;
    margin-left: 50px;
    box-sizing: content-box;

}
