.topnav {
    --border: 2px solid rgba(255, 255, 255, .7);

    position: absolute;
    float: right;
    margin-bottom: 30px;
    margin-bottom: 10px;

    top: 0;
    right: 0;
    width: 100%;

    box-sizing: border-box;
    border: var(--border);
    border-right: none;
    border-top: none;
    border-left: none;

    grid-template-columns: 1fr 1fr 1fr;

    display: flex;
    justify-content: space-evenly;
}

.topnav a {
    float: right;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: "Schnaubelt";
}

.topnav a:hover:not(.active) {
    text-decoration: underline;
}

.topnav a.active {
    text-decoration: underline;
}

/* Desktop */
@media screen and (min-width: 480px) {
    .topnav {
        width: 297px;
        border-left: var(--border);
    }
}
